body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    justify-items: center;
    
    gap: 1rem;
}
.section {
    background-color: #88c1d0;
    width: 24vw;
    height: 20vh;
}

@media all and (max-width:1599px) {
    body {
         grid-template-columns: 1fr 1fr;  
    }
    .section {
        width: 45vw;
    }
}

@media all and (max-width:767px) {
    body {
        grid-template-columns: 1fr;
    }
    .section {
        width: 80vw;
    }
}