*, html,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1 {
    text-align: center;
    margin: 2rem 0;
}

#box {
    
    margin: 5rem auto;
    width:680px;
    height:680px;
    border: 10px solid orange;

}
#box div {
    display: inline-block;
    height: 213px;
    width: 213px;
    margin:  0 2px 0 2px;
}

